{{ define "main" }}
<article class="post">
    <header class="post-header">
        {{ if .Title }}
        <h1 class="post-title">{{ .Title }}</h1>
        {{ end }}
        
        <div class="post-meta">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "2 January 2006" }}
            </time>
        </div>
    </header>
    
    <div class="post-content">
        {{ .Content }}
    </div>
    
    {{ if and .Params.categories (not .Site.Params.show_categories) }}
    <div class="post-categories">
        <div class="category-list">
            {{ range .Params.categories }}
            <a href="/categories/{{ . | urlize }}" class="category-button">{{ . }}</a>
            {{ end }}
        </div>
    </div>
    {{ end }}
    
    <footer class="post-footer">
        {{ if or (templates.Exists "partials/reply-by-email.html") (templates.Exists "partials/conversation-link.html") }}
        <div class="post-actions">
            {{ if templates.Exists "partials/reply-by-email.html" }}
                {{ partial "reply-by-email.html" . }}
            {{ end }}
            {{ if templates.Exists "partials/conversation-link.html" }}
                {{ partial "conversation-link.html" . }}
            {{ end }}
        </div>
        {{ end }}
        
        {{ if .Site.Params.include_conversation }}
        <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
        {{ end }}
    </footer>
</article>
{{ end }}